:root {
  /* Now 1rem = 10px instead of 16px  */
  /* font-size: 10px; */
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: min(100%, 1280px);

  min-height: 100vh;
  overflow-x: hidden;
}
