:root {
  /* Now 1rem = 10px instead of 16px  */
  /* font-size: 10px; */
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: min(100%, 1280px);
  overflow-x: hidden;
  margin: 0 auto;
}
