:root {
  /* Now 1rem = 10px instead of 16px  */
  /* font-size: 10px; */
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Apply styles on component wrappers. So won't be repetitive.  */

/* Custom Scrollbar for the apps */

::-webkit-scrollbar {
  width: 4.5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(84, 84, 84, 0.7);
  transition: all 100ms ease-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(211, 211, 211, 0.6);
}
